<div>
   <style>
    body{
        background-image: url("https://images.pexels.com/photos/1902415/pexels-photo-1902415.jpeg?auto=compress&cs=tinysrgb&w=600");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style></div>
<h1 class="text-center"></h1>
<div class="container">      
    <table class="table table-striped mt-5 ">
        <tr>
            {{!-- <th>Booking ID</th>  --}}
           <th>Cab Model</th>
            <th>Date of Booking</th>
            <th>Date of Travel</th>
            <th>Pick Up Location</th>
            <th>Drop Off Location</th>
            <th>Pick Up Time</th>
             <th>ID</th>
              <th>Cab ID</th>
              <th>Cost</th>
        </tr>
        {{#each data}}
        {{!-- <tr><td>{{this.dataValues.id}}</td> --}}
            <td>{{this.dataValues.cab_model}}</td>
            
            <td>{{this.dataValues.date_of_booking}}</td>
            <td>{{this.dataValues.date_of_travel}}</td>
            <td>{{this.dataValues.pick_up_location}}</td>
            <td>{{this.dataValues.drop_off_location}}</td>
            <td>{{this.dataValues.pick_up_time}}</td>
            <td>{{this.dataValues.id}}</td>
            <td>{{this.dataValues.cab_id}}</td>
            <td>{{this.dataValues.cost}}</td>
            
        </tr>
        {{/each}}
    </table>
   

</div>