<div>
   <style>
    body{
        background-image: url("https://images.unsplash.com/photo-1582820795651-f358eebe4406?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fHRheGl8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style></div>
<h1 class="text-center"></h1>
<div class="container">      
    <table class="table table-striped mt-5 ">
        <tr>
            {{!-- <th>Booking ID</th>  --}}
           <th>Cab Model</th>
            <th>Date of Booking</th>
            <th>Date of Travel</th>
            <th>Pick Up Location</th>
            <th>Drop Off Location</th>
            <th>Pick Up Time</th>
             <th>ID</th>
              <th>Cab ID</th>
        </tr>
        {{#each data}}
        {{!-- <tr><td>{{this.dataValues.id}}</td> --}}
            <td>{{this.dataValues.cab_model}}</td>
            
            <td>{{this.dataValues.date_of_booking}}</td>
            <td>{{this.dataValues.date_of_travel}}</td>
            <td>{{this.dataValues.pick_up_location}}</td>
            <td>{{this.dataValues.drop_off_location}}</td>
            <td>{{this.dataValues.pick_up_time}}</td>
            <td>{{this.dataValues.id}}</td>
            <td>{{this.dataValues.cab_id}}</td>
            <td>
                <a href="/booking/update/{{this.dataValues.booking_id}}">Edit</a> |
                <a href="/booking/delete/{{this.dataValues.booking_id}}" class="text-danger" onclick="return confirm('Are you sure you want to delete this')">Delete</a>
            </td>
        </tr>
        {{/each}}
    </table>
    <a href="/home2" class="btn btn-primary">+ BOOK NOW </a>

</div>