<h1 class="text-center">Driver Details</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <form method="post">
        
        
         
          <div>
          <label for="name">Driver ID</label>
          <input type="text" name="driver_id" id="driver_id" class="form-control" placeholder="" value="{{data.dataValues.driver_id}}">
         </div>
         <div>
          <label for="name">Driver Name</label>
          <input type="text" name="driver_name" id="driver_name" class="form-control" placeholder="" value="{{data.dataValues.driver_name}}">
         </div>
         <div>
          <label for="name">Driver Mobile Number</label>
          <input type="text" name="driver_mobile_number" id="driver_mobile_number" class="form-control" placeholder="" value="{{data.dataValues.driver_mobile_number}}">
         </div>
        
        
         
         <div>
          <label for="name">Gender</label>
          <input type="text" name="gender" id="gender" class="form-control" placeholder="" value="{{data.dataValues.gender}}">
         </div>
         >
         
{{!-- <div>
          <label for="name">Driver ID</label>
          <input type="text" name="driver_id" id="driver_id" class="form-control" placeholder="">
         </div>
<div>
          <label for="name">Cab ID</label>
          <input type="text" name="cab_id" id="cab_id" class="form-control" placeholder="">
         </div> --}}
         <pre>
         </pre>
         {{!-- {{#if result}}
         {{#if result.success }}
         <div class="alert alert-success">Data Saved Successfully♻</div>
         {{else}}
         <div class="alert alert-danger">Saving Failed</div>
         {{/if}}
         {{/if}} --}}
          <div class="d-grid mt-5">
            <button class="btn btn-primary">SAVE</button>
          </div>
           
          
        </form>
      </div>
    </div>
  </div>